# List of file patterns for git to ignore.
#
# Please try to keep entries in alphabetical order :-)
#
*~
*.a
*.gmo
*.mo
*.o
*.lo
*.la
*.so
*.0
*.lai
*.omf
*.sed
*.header
*.sin
*.template
*.pc
*.tar.gz
.cproject
.csettings
.deps
.intltool-merge-cache
.project
.xml2po.mo
INSTALL
Makefile
Makefile.in
Makefile.in.in
POTFILES
ABOUT-NLS
aclocal.m4
autom4te.cache
config.*
configure
depcomp
src/doclone
src/.libs/doclone
install-sh
intltool-*
libtool
ltmain.sh
lt-*
m4
missing
mkinstalldirs
omf.make
stamp-*
xmldocs.make
Rules-quot
*/examples/README
